<!DOCTYPE html>
<html>
<head>
	<title>{{ post.categoria }}</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}"/>
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/home.js' %}"></script>
</head>
<body background= "{% static 'img/fondo.jpg' %}">
	<div id="franja2">
		<table style="width: 100%;">
			<tr>
				<td id="icono"><a href="{% url 'home' %}"><img id="ichome" src="{% static 'img/home1.png' %}" alt='no funca'></a></td>
				<td class="celda" id="titulo">Filtro de Categoría Activado</td>
				<td class="celda" id="buscar"></td>
				<td class="celda" id="boton_buscar"></td>
				<td class="celda" id="iniciar">
					{% if user.is_authenticated %}
	        			<a href="{% url 'home' %}" id="linkIniciar">{{ user.username }}</a>
	        		{% else %}
	    		    	<a href="{% url 'login' %}" id="linkIniciar">Inicar Sesión</a>
	  				{% endif %}
				</td>
				<td id="espacio">|</td>
				<td id="registrar">
					{% if user.is_authenticated %}
	        			<a href="{% url 'logout' %}" id="salir">Salir</a>
	        		{% else %}
	    		    	<a href="{% url 'register' %}" id="linkRegister">Registrarse</a>
	  				{% endif %}
				</td>
			</tr>
		</table>
	</div>
	
 	<div style="text-align: center;"><img id="portada" src="{% static 'img/portada.png' %}" alt='no funca'></div>


<!--Inicio: Botones debajo de banner-->
<header id="headCat">
    <nav>
        <ul id="listCat">
            <li><a href="{% url 'home' %}">Pagina Principal</a></li>
            <li>
                {% if user.is_authenticated %}
                    <a href="{% url 'posts:post_create' %}" class="botones">Crear Post</a>
                {% else %}
                    <a href="{% url 'login' %}" class="botones">Crear Post</a>
                {% endif %}
            </li>
            <li><a href="{% url 'home' %}">Filtro Fecha</a></li>
            <li>
                <a role="button" data-bs-toggle="dropdown" aria-expanded="false">Categorías</a>
                <ul aria-labelledby="navbarDropdown">
                    <li><a href="{% url 'home' %}">Desactivar Filtro</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
<!--Fin: Botones debajo de banner-->

{% if category_posts %}

	<div id="cuerpo">
		{% for post in category_posts %}
			<div>
				<table id="post" cellspacing="0" cellpadding="0">
					<tr>
						<td id="celdaPost" colspan="2"><a id="tituloPost" href="{% url 'posts:post_detail' pk=post.pk %}">{{ post.titulo }}</a></td>
						<td></td>
						<td id="miniatura" rowspan="2"><img id="miniatura_imagen" src="{{post.miniatura.url}}"></td>
					</tr>
					<tr >
						<td id="conten" colspan="2"><p id="cont">{{ post.contenido|slice:":800"|safe }}...</p></td>
					</tr>
					<tr>
						<td id="fecha"><p id="pFecha">{{ post.fecha_publicacion }}</p></td>
						<td id="autor"><p id="pAutor">{{ post.author}}</p></td>
						<td id="comentarios" colspan="2"><p id="pComent">{{ post.categoria }}</p></td>
					</tr>
				</table>
				<br style="height: 100px;"></br>
			</div>
		{% endfor %}
	</div>
{% else %}
	<div id="sincatDiv">
		<p id="sincatP">No existen publicaciones para esta categoría. <a id="sincatLink" href="{% url 'home' %}">Volver</a></p>
	</div>
{% endif %}
