<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Borrar Post{% endblock %}</title>

	{% load static %}
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}"/>
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/home.js' %}"></script>
</head>
<body background= "{% static 'img/fondo.jpg' %}">
	<div id="franja2">
		<table style="width: 100%;">
			<tr>
				<td id="icono"><a href="{% url 'home' %}"><img id="ichome" src="{% static 'img/home1.png' %}" alt='no funca'></a></td>
				<td class="celda" id="titulo">Borrar Post</td>
				<td class="celda" id="buscar"></td>
				<td class="celda" id="boton_buscar"></td>
				<td class="celda" id="iniciar">
					{% if user.is_authenticated %}
	        			<a href="{% url 'home' %}" id="linkIniciar">{{ user.username }}</a>
	        		{% else %}
	    		    	<a href="{% url 'login' %}" id="linkIniciar">Inicar Sesión</a>
	  				{% endif %}
				</td>
				<td id="espacio">|</td>
				<td id="registrar">
					{% if user.is_authenticated %}
	        			<a href="{% url 'logout' %}" id="salir">Salir</a>
	        		{% else %}
	    		    	<a href="{% url 'register' %}" id="linkRegister">Registrarse</a>
	  				{% endif %}
				</td>
			</tr>
		</table>
	</div>
	
 	<div style="text-align: center;"><img id="portada" src="{% static 'img/portada.png' %}" alt='no funca'></div>

<div id="cuerpoComent">
	<form method="POST">
		{% csrf_token %}
		<p><strong>Está a punto de borrar el post{{ form }}</strong></p>
		<button type="submit" id="comentarBtn">Confirmar</button>
	</form>
</div>