
<!DOCTYPE html>
<html>
<head>
	<title>Radikal-Gamez</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}"/>
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/home.js' %}"></script>
</head>
<body background= "{% static 'img/fondo.jpg' %}">
	<table id="franja">
		<tr>
			<td class="celda" id="icono"><img id="ichome" src="{% static 'img/home1.png' %}" alt='no funca'></td>
			<td class="celda" id="titulo">Titulo/Categoria</td>
			<td class="celda" id="buscar">
				<form action="../../form-result.php" method="post" target="_blank">
					<input id="buscador" type="search" name="buscar" placeholder="Buscar...">
				</form>
			</td>
			<td class="celda" id="boton_buscar"><input id="boton" type="submit" value="Ir"></td>
			<td class="celda" id="iniciar">Inicar Sesion |</td>
			<td class="celda" id="registrar">Registrarse</td>
		</tr>
	</table>
 
 	<p style="text-align: center;"><img id="portada" src="{% static 'img/portada.png' %}" alt='no funca'></p>

    <table id="botonesp">
    	<tr>
    		<td class="celda" id="inicio"><a href="{% url 'home' %}" id="ini">Pagina Principal</a></td>
    		<td class="celda" id="usuarios">Usuarios</td>
    	</tr>
    </table>

    {% block content %}
    

    <a href="{% url 'segunda' %}">Siguientee</a>
    {% endblock %}




   <div style="text-align: center; margin: 100px; font-family: Courier New, sans-serif;"><h5> PIE DE PAGINA </h5></div> 
</body>
</html>