body {
	background: pink;
}

#franja {
	background: blue;
	margin: auto;
	margin-top: -10px;
	padding: 10px 0px;
}

.celda {
	background: yellow;
	padding: 0px 5px;
}

#titulo {
	text-align: left;
	padding: 0px 0px 0px 5px;
	width: 350px;
	height: 30px;
}

#buscar {
	text-align: left;
	padding: 0px 0px 0px 5px;
	width: 80px;
}

#boton_buscar {
	padding: 0;
}

#iniciar {
	text-align: right;
	width: 160px;
}

#registrar {
	text-align: left;
	width: 90px;
}