body {
	 background-repeat: no-repeat;
	 background-attachment: fixed;
	 background-position: center;
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	}

#franja {
	background: #0F2955;
	margin: auto;
	margin-top: -10px;
	width: 1000px;
	height: 50px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-spacing: 0px;
}

.celda {
	background: none;
	padding: 0px;
	border: 0px 0px 0px 0px;
	color: white;
}

#icono {
	padding-left: 10px;
	width: 30px;
	height: 30px;
}

#ichome {
	width: 30px;
	height: 30px;
}

#titulo {
	text-align: left;
	width: 350px;
	height: 30px;
}

#buscar {
	text-align: right;
	padding-left: 5px;
	width: 80px;
}

#buscador {
	border-radius: 15px;
	border: 1px;
	height: 20px;
}

#boton_buscar {
	padding: 0px;
	width: 30px;
	height: 30px;
	text-decoration: none;
}


#iniciar {
	text-align: right;
	width: 90px;
}

#registrar {
	text-align: left;
	width: 30px;
	padding-left: 2px;
}


#portada {
	width: 750px;
}


#botonesp {
	background: #0F2955;
	margin-left: 165px;
	width: 300px;
	height: 50px;
	border-radius: 10px;
	border-spacing: 0px;
	text-align: center;
}
#inicio {
	width: 180px;
	transition: background-color .5s;
}
	#inicio:hover {
		background-color: #0A3963;
		border-radius: 10px;
		border-spacing: 0px;
		text-align: center;
	}

#ini {
	text-decoration: none;
	color: white;
}

#usuarios {
	width: 120px;
	transition: background-color .5s;
}
	#usuarios:hover {
		background-color: #0A3963;
		border-radius: 10px;
		border-spacing: 0px;
		text-align: center;
	}

