body {
	 background-repeat: no-repeat;
	 background-attachment: fixed;
	 background-position: center;
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	}

#franja2 {
	width: 1000px;
	height: 50px;
	background: #0F2955;
	margin: auto;
	margin-top: -10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-spacing: 0px;
	padding: 10px 10px 0px 10px;
}

#tabla {
	width: 100%;
}

.celda {
	background: none;
	padding: 0px 5px;
	border: 0px 0px 0px 0px;
	color: white;
}

#icono {
	width: 30px;
	height: 30px;
	background: none;
	padding: 0px 5px 0px 0px;
	border: 0px 0px 0px 0px;
	color: white;
}

#ichome {
	width: 30px;
	height: 30px;
}

#ichome2 {
	width: 30px;
	height: 30px;
}

#titulo {
	text-align: left;
	width: 350px;
	height: 30px;
}

#buscar {
	text-align: right;
	padding-left: 5px;
	width: 80px;
}

#buscador {
	border-radius: 15px;
	border: 1px;
	height: 20px;
}

#boton_buscar {
	padding: 0px;
	width: 30px;
	height: 30px;
	text-decoration: none;
}


#iniciar {
	text-align: right;
	width: 90px;
}
#linkIniciar {
	text-decoration: none;
	color: white;
}
#user {
	text-decoration: none;
	text-align: right;
	color: white;
}
#espacio {
	width: 1px;
	color: white;
}
#registrar {
	text-align: left;
	width: 30px;
	background: none;
	padding: 0px 0px 0px 5px;
	border: 0px 0px 0px 0px;
	color: white;
}
#linkRegister {
	text-decoration: none;
	color: white;
}


#portada {
	width: 750px;
	padding: 10px;
}


#botonesp {
	width: 1000px;
	height: 50px;
	margin: auto;
	text-align: center;
}
#tablaBotonesp {
	width: 1000px;
	height: 50px;
	border-spacing: 0px;
}
#inicio {
	width: 180px;
	transition: background-color .5s;
	background: #0F2955;
	border-radius: 10px;
	border-spacing: 0px;
	text-align: center;
}
	#inicio:hover {
		background-color: #0A3963;
		border-radius: 10px;
		border-spacing: 0px;
		text-align: center;
	}

.botones {
	text-decoration: none;
	color: white;
}

#newpost {
	width: 180px;
	transition: background-color .5s;
	background: #0F2955;
	border-radius: 10px;
	border-spacing: 0px;
	text-align: center;
}
	#newpost:hover {
		background-color: #0A3963;
		border-radius: 10px;
		border-spacing: 0px;
		text-align: center;
	}

#salir {
	text-decoration: none;
	text-align: left;
	color: white;
}