#fondo {
	text-align: center;
	background-color: white;
	opacity: 0.7;
	width: 500px;
	height: 100%;
	margin: auto;
	margin-top: 80px;
	border-radius: 15px;
	padding-top: 50px;
	padding-bottom: 50px;
	transition: background-color .5s;
	transition: opacity .5s;
}
	#fondo:hover {
		background-color: white;
		width: 500px;
		height: 100%;
		margin: auto;
		margin-top: 80px;
		border-radius: 15px;
		padding-top: 50px;
		padding-bottom: 50px;
		opacity: 1;
	}

#contenido {
}

#iniciarTitulo {

}

#id_username {
	margin-top: 30px;
}

#id_password {

}

#botonIniciar {
	text-decoration: none;
	width: 150px;
	height: 40px;
	border: none;
	border-radius: 10px;
	background: #CACACA;
	transition: background-color .5s;

}
	#botonIniciar:hover {
		background-color: #0F2955;
		color: white;
	}