#fondo {
	text-align: center;
	background-color: white;
	opacity: 0.8;
	width: 500px;
	height: 300px;
	margin: auto;
	margin-top: 80px;
	border-radius: 15px;
}

#contenido {
	padding-top: 40px;
}

#iniciarTitulo {

}

#id_username {

}

#id_password {

}

#botonIniciar {
	text-decoration: none;
	opacity: none;
}
	#botonIniciar:hover {

	}