<!DOCTYPE html>
<html>
<head>
	<title>Editar Perfil</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/login.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/edit_profile.css' %}"/>
</head>
<body background= "{% static 'img/fondo-login.jpg' %}">
	<div id="franja2">
		<table style="width: 100%;">
			<tr>
				<td id="icono"><a href="{% url 'home' %}"><img id="ichome" src="{% static 'img/home1.png' %}" alt='no funca'></a></td>
				<td class="celda" id="titulo">Editar Perfil</td>
				<td class="celda" id="buscar"></td>
				<td class="celda" id="boton_buscar"></td>
				<td class="celda" id="iniciar"></td>
				<td id="espacio"></td>
				<td id="registrar">
					{% if user.is_authenticated %}
	        			<a href="{% url 'logout' %}" id="salir">Salir</a>
	        		{% else %}
	    		    	<a href="{% url 'register' %}" id="linkRegister">Registrarse</a>
	  				{% endif %}
				</td>
			</tr>
		</table>
	</div>

<div id="editPerfilDIV">
	<p id="EditPerfilTit">Editar Perfil</p>
	<div id="divTabla">
		<form method="POST">
			<table id="tablaEditPerfil" cellspacing="8" cellpadding="0">
			    {% csrf_token %}
			    {{ form.as_table }}
		    </table>
		    <p style="text-align: center;"><button id="BotSave" type="submit">Guardar Cambios</button></p>
		</form>
	</div>
</div>


</body>
</html>

