<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Registrar Usuario{% endblock %}</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/login.css' %}"/>
	<link rel="preconnect" href="https://fonts.gstatic.com"/>
	<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet"/>
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/home.js' %}"></script>
</head>
<body background= "{% static 'img/fondo-login.jpg' %}">
	<div id="franja2">
		<table style="width: 100%;">
			<tr>
				<td id="icono"><a href="{% url 'home' %}"><img id="ichome" src="{% static 'img/home1.png' %}" alt='no funca'></a></td>
				<td class="celda" id="titulo"></td>
				<td class="celda" id="buscar"></td>
				<td class="celda" id="boton_buscar"></td>
				<td class="celda" id="iniciar">
					{% if user.is_authenticated %}
	        			<p id="user">{{ user.username }} | </p>
	        		{% else %}
	    		    	<a href="{% url 'login' %}" id="linkIniciar">Inicar Sesión</a>
	  				{% endif %}
				</td>
				<td id="espacio">|</td>
				<td id="registrar">
					{% if user.is_authenticated %}
	        			<a href="{% url 'logout' %}" id="salir">Salir</a>
	        		{% else %}
	    		    	<a href="{% url 'register' %}" id="linkRegister">Registrarse</a>
	  				{% endif %}
				</td>
			</tr>
		</table>
	</div>

	{% block content %}

	<div id="fondo">
		<div id="contenido">
			<h2 id="iniciarTitulo">Registrar Usuario</h2>

			<form method="POST">
			    {{ form.as_p }}
			    {% csrf_token %}
			    <button id="botonIniciar" type="submit">Registrar</button>
			</form>

		</div>
	</div>

	{% endblock %}

</body>
</html>